contracts/sll/mammography/screening/schemas/core_components/mammography_screening_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Stockholms Läns Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:sll:mammography:screening:1"
  targetNamespace="urn:riv:sll:mammography:screening:1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0">

  <xs:complexType name="ScreeningRoundType">
    <xs:annotation>
      <xs:documentation  xml:lang="sv">
        Avser en screeningomgång.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="roundId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Identifierare för omgången, t.ex. RemissId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roundNumber" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken omgång i ordningen det avser.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfInvitation" type="tns:DateType">
        <xs:annotation>
          <xs:documentation  xml:lang="sv">Kallelsedatum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="tns:HSAIdType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">HSA-id för den vårdenhet som gjort undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="tns:ResultType" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation  xml:lang="sv">Resultat för en omgång.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="screeningResult" type="tns:ScreeningType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Screeningundersökning (Sectra RIS: signerad mammografiscreening) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="radiologicalResult" type="tns:RadiologicalType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Fullständig radiologiskundersökning (Sectra RIS: signerad klinisk radiologisk mammografiundersökning).
          Det kommer en instans per undersökningstyp (66200 Tvåbilds-mammo, 93800 Utlraljud bröstkörtlar osv).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScreeningType">
    <xs:sequence>
      <xs:element name="examinationId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Id för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfExamination" type="tns:DateType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Datum för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="municipality" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Län/kommun/församling vid screeningtilfället</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participationStatus" type="tns:ParticipationStatusEnum">
        <xs:annotation>
          <xs:documentation  xml:lang="sv">Har patienten deltagit eller ej i undersökningen och om ej, vad var orsaken.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="screeningCodes" type="tns:MalignancyResultType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Mammokoder för screeningundersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="selectionType" type="tns:SelectionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Orsak till varför patienten valts ut till vidare undersökning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="opinionResult" type="tns:OpinionEnum" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Bedömning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dens" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">true = hög brösttäthet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="technicalRetake" type="xs:boolean" default="false">
        <xs:annotation>
          <xs:documentation xml:lang="sv">"true" om detta är ett tekniskt omtag, dvs. bilder från förra undersökningen gick inte att bedöma. 
          Detta screeningResult ersätter då ett gammalt med samma roundId.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examiner1" type="tns:ExaminerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Granskare 1 av resultatet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examiner2" type="tns:ExaminerType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Granskare 2 av resultatet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RadiologicalType">
    <xs:sequence>
      <xs:element name="examinationId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Id för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfExamination" type="tns:DateType">
      <xs:annotation>
        <xs:documentation xml:lang="sv">Datum då undersökningen genomfördes.</xs:documentation>
      </xs:annotation>
      </xs:element>
      <xs:element name="patientDeclines" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation xml:lang="sv">Har patienten avböjt att deltaga i undersökningen.</xs:documentation>
      </xs:annotation>
      </xs:element>
      <xs:element name="examinationCode" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Socialstyrelsens undersökningskod organ + metod:
            examinationName                       examinationCode
            TEKNISKT OMTAG                        66058
            Tvåbilds-mammo                        66200
            Punktion i palpation                  66558
            Grovnålsbiopsi                        93850
            Stereotaktisk punktion                66500
            Ultraljudsledd punktion               93850
            Punktionsmetod saknas                 60000
            Mammografi, fullständig undersökning  66000
            Ultraljud bröstkörtlar                93800
            Operation, undersökningstyp           HA
            PrepRTG                               -
            Palpation                             66023
            Selekterad mammografi                 66059
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examinationName" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Undersökningens namn i klartext</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="diagnosticCodes" type="tns:MalignancyResultType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Fyndkoder för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
 
  <xs:complexType name="MalignancyResultType">
    <xs:sequence>
      <xs:element name="resultRightBreast" type="tns:MalignancyEnum" minOccurs="0"/>
      <xs:element name="resultLeftBreast" type="tns:MalignancyEnum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SelectionType">
    <xs:sequence>
      <xs:element name="resultRightBreast" type="tns:SelectionTypeEnum" minOccurs="0"/>
      <xs:element name="resultLeftBreast" type="tns:SelectionTypeEnum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExaminerType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="streetName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Gatuadress</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalNumber" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Postnummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="city" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Stad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="municipality" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Län/Kommun</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parish" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Församling</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="OpinionEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Frisk</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Diskussion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Selektion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tekniskt omtag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MalignancyEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ingen undersökning gjord</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Normalt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Benignt (godartat) fynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Möjlig malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Trolig malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Klar malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SelectionTypeEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ingen selektion</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ja, pga röntgenfynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation  xml:lang="sv">Ja, pga kliniskt fynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ParticipationStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A">
        <xs:annotation>
        <xs:documentation xml:lang="sv">Aktiv vägrare</xs:documentation>
      </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="P">
        <xs:annotation>
        <xs:documentation xml:lang="sv">Passiv vägrare</xs:documentation>
      </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="D">
        <xs:annotation>
        <xs:documentation xml:lang="sv">Deltagit</xs:documentation>
      </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="O">
        <xs:annotation>
        <xs:documentation xml:lang="sv">Oanträffbar</xs:documentation>
      </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <!-- 
        Below: only helper types allowed.
        
        A helper type is a type used in one ore more of the domain schema common types.
        It can also be a type used in two or more service schemas.
    -->

  <xs:complexType name="DatePeriodType">
    <xs:annotation>
      <xs:documentation  xml:lang="sv">
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet ÅÅÅÅMMDD
        end: 
        Slutdatum på formatet ÅÅÅÅMMDD
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:DateType"/>
      <xs:element name="end" type="tns:DateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation>
        Dates are always in the format "YYYYMMDD", which corresponds to the ISO 8824-compliant format description "YYYYMMDD".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="HSAIdType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="PersonIdType">
    <xs:annotation>
      <xs:documentation>
        id
        Personal identity has the following format depending on the type
        - personnummer: yyyymmddnnnn
        - samordningsnummer: yyyymmddnnnn
        - reservnummer: Is not standardized, there are several different variants.
        type
        Type av identification.
        - personnummer = '1.2.752.129.2.1.3.1', se http://sv.wikipedia.org/wiki/Personnummer#Sverige
        - samordningsnummer = '1.2.752.129.2.1.3.3', se http://sv.wikipedia.org/wiki/Samordningsnummer
        - reservnummer SLL = '1.2.752.97.3.1.3', se http://sv.wikipedia.org/wiki/Reservnummer
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:any namespace='##other' processContents='lax' minOccurs='0' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TimePeriodType">
    <xs:annotation>
      <xs:documentation  xml:lang="sv">
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet YYYYMMDDhhmmss
        end: 
        Slutdatum på formatet YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:TimeStampType"/>
      <xs:element name="end" type="tns:TimeStampType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TimeStampType">
    <xs:annotation>
      <xs:documentation>
        A quantity specifying a point on the axis of natural time.
        A point in time is most often represented as a calendar
        expression.
        
        The time has the format YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{4,6}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
