contracts/sll/mammography/screening/schemas/core_components/screening_mammography_1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Stockholms Läns Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->		
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:riv:sll:screening:mammography:1"
  targetNamespace="urn:riv:sll:screening:mammography:1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0">

  <xs:complexType name="ScreeningRoundType">
    <xs:annotation>
      <xs:documentation>
        Avser en screeningomgång.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="roundId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Identifierare för omgången.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roundNumber" type="xs:integer">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vilken omgång iordningen det avser.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="tns:HSAIdType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">HSA-id för den vårdenhet som gjort undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfInvitation" type="tns:DateType">
        <xs:annotation>
          <xs:documentation>Kallelsedatum</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participationStatus" type="tns:ParticipationStatusEnum" minOccurs="1">
        <xs:annotation>
          <xs:documentation>Har patienten deltagit eller ej i undersökningen och om ej, vad var orsaken.
            Note: Om patient ej deltagit kan resultaten vara 'null'</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="tns:ResultType" maxOccurs="1" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation>
        En hållare med resultat för en undersökning.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="screeningResult" type="tns:ScreeningType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Screeningundersökning  (RIS:signerad mammografiscreening) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="completeRadiologicalResult" type="tns:CompleteRadiologicalType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Fullständig radiologiskundersökning (RIS:signerad klinisk radiologisk mammografiundersökning)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScreeningType">
    <xs:sequence>
      <xs:element name="examinationId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Id för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateOfExamination" type="tns:DateType">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Datum för undersökningen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="tns:ScreeningResultType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">resultat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dens" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">true = hög brösttäthet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examiner1" type="tns:ExaminerType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Granskare 1 av resultatet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="examiner2" type="tns:ExaminerType" minOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Granskare 2 av resultatet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompleteRadiologicalType">
    <xs:sequence>
      <xs:element name="examinationId" type="xs:string"/>
      <xs:element name="dateOfExamination" type="tns:DateType"/>
      <xs:element name="patientDeclines" type="xs:boolean"/>
      <xs:element name="mammographyResult" type="tns:MalignancyResultType" minOccurs="1"/>
      <xs:element name="ultrasoundResult" type="tns:MalignancyResultType"/>
      <xs:element name="selectedResult" type="tns:SelectedResultType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MalignancyResultType">
    <xs:sequence>
      <xs:element name="resultRightBreast" type="tns:MalignancyEnum"/>
      <xs:element name="resultLeftBreast" type="tns:MalignancyEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScreeningResultType">
    <xs:sequence>
      <xs:element name="resultRightBreast" type="tns:ScreeningResultEnum"/>
      <xs:element name="resultLeftBreast" type="tns:ScreeningResultEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SelectedResultType">
    <xs:sequence>
      <xs:element name="resultRightBreast" type="tns:SelectedResultEnum"/>
      <xs:element name="resultLeftBreast" type="tns:SelectedResultEnum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExaminerType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="streetName" type="xs:string"/>
      <xs:element name="postalNumber" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="state" type="xs:string"/>
      <xs:element name="municipality" type="xs:string"/>
      <xs:element name="parish" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ScreeningResultEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Ingen undersökning gjord</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Ej Selekterad</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Selekterad pga röntgenfynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Selekterad pga klinisktfynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Tekniskt omtag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MalignancyEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Ingen undersökning gjord</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Normalt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Benignt (godartat) fynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="3">
        <xs:annotation>
          <xs:documentation>Möjlig malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="4">
        <xs:annotation>
          <xs:documentation>Trolig malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="5">
        <xs:annotation>
          <xs:documentation>Klar malignitet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SelectedResultEnum">
    <xs:restriction base="xs:int">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Nej</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Ja, pga röntgenfynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="2">
        <xs:annotation>
          <xs:documentation>Ja, pga kliniskt fynd</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ParticipationStatusEnum">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation xml:lang="sv">
          A =aktiv vägrare, P=passiv vägrare, D=deltagit, O=oanträffbar
          <xs:enumeration value="A"/>
          <xs:enumeration value="P"/>
          <xs:enumeration value="D"/>
          <xs:enumeration value="O"/>
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <!-- 
        Below: only helper types allowed.
        
        A helper type is a type used in one ore more of the domain schema common types.
        It can also be a type used in two or more service schemas.
    -->

  <xs:complexType name="DatePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet ÅÅÅÅMMDD
        end: 
        Slutdatum på formatet ÅÅÅÅMMDD
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:DateType"/>
      <xs:element name="end" type="tns:DateType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- YYYYMMDD -->
  <xs:simpleType name="DateType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HSAIdType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="PersonIdType">
    <xs:annotation>
      <xs:documentation>
        id
          Patientens id.
        type
          Typ av id. Bland tillåtna typer för finns: 
            personnummer = '1.2.752.129.2.1.3.1' 
            samordningsnummer = '1.2.752.129.2.1.3.3' 
            reservnummer SLL = '1.2.752.97.3.1.3'
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TimePeriodType">
    <xs:annotation>
      <xs:documentation>
        Används för att specificera ett datumintervall
        med hjälp av start- och slutdatum.
        
        start: 
        Startdatum på formatet YYYYMMDDhhmmss
        end: 
        Slutdatum på formatet YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" type="tns:TimeStampType"/>
      <xs:element name="end" type="tns:TimeStampType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TimeStampType">
    <xs:annotation>
      <xs:documentation>
        A quantity specifying a point on the axis of natural time.
        A point in time is most often represented as a calendar
        expression.
        
        The time has the format YYYYMMDDhhmmss
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])\d{4,6}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
